* {
    margin: 0;
    padding: 0;
}


.no-scroll-y {
    overflow-y: hidden;
}

#root {
    background-position: center center;
    background-size: cover;
    background-image: url('../img/backgroundCalendar.jpg');
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 0;
}

#filter-bar {
    max-width: 600px;
}

.btn-local {
    background-color: rgba(255, 255, 255, 0.856);
    border: 1px solid lightgray;
    width: 100%;
    max-width: 800px;
    height: 60px;
}

.btn-select {
    color: white;
    background-color: #004a99e2;
}

.btn-local:hover, .btn-select:hover {
    cursor: pointer;
    background-color: rgba(233, 233, 233, 0.856);
}

#app {
    padding: 1.5rem 0;
}
#login-register-container {
    margin-top: 2rem;
}

.none {
    display: none !important;
}


.selected {
    background-color: #004a99;
    color: white;
}
.selected:hover {
    background-color:  #004792c8;
    color: white;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #007bff !important;
}

.root {
    width: 100%;
}


#view-3 form{
    max-width: 500px;
}

.step-on {
    background-color: #004186;
}

.hr {
    width: 100%;
}
/* 
================================================================================
STEP ONE
================================================================================
*/

#locales {
    gap: 1rem
}


#cardShopData img {
    height: 180px;
    object-fit: cover;
}


/* 
================================================================================
LOGIN FORM
================================================================================
*/

#login-form, #register-form {
    width: 100%;
    max-width: 500px;
}

.icon-form {
    color: grey;
}

#price {
    background-color:  white;
    border: none;
}


.stepRoot {
    width: 100%;
}


/* 
================================================================================
REACT MODAL
================================================================================
*/
.ReactModal__Overlay--after-open {
    z-index: 99 !important;     
}


/* 
================================================================================
STEP RESUME
================================================================================
*/

.stepResume {
    display: flex;
    padding: 0 1rem;
    gap: 1rem;
}
.contact-card {
    flex-basis: 20%;
    min-width: 320px;
}

.stepResume-bookings {
    flex-basis: 80%;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
}

.stepResume-bookings .card {
    min-width: 425px;
    max-width: 450px;
    height: 70vh ;
    overflow: auto;
}


.stepResume-bookings .card  .card-title {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1rem;
    margin: -1rem;
}

#cardShopDataInfo img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin: 1rem 0;
    border: 1px solid lightgray;
    border-radius: 100%;
}

#swal2-html-container {
    margin: 0 1rem;
}

#swal2-title {
    padding: .2rem;
}